[package]
authors = ["Ryan Kurte <ryankurte@gmail.com>"]
description = "Driver for the Semtec sx1280 2.4GHz RF IC"
repository = "https://github.com/rust-iot/rust-radio-sx128x"
license = "MPL-2.0"
name = "radio-sx128x"
version = "0.17.2"
edition = "2018"


[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/sx128x-util-{ target }.tgz"
bin-dir = "{ bin }-{ target }{ format }"


[features]
poll-irq = []
patch-unknown-state = []
tests = [ "driver-pal/mock" ]
util = ["structopt", "tracing", "tracing-subscriber", "humantime", "pcap-file", "crc16", "driver-pal/hal", "failure/std", "hex", "thiserror"]
default = [ "util", "serde", "driver-pal/hal-cp2130", "driver-pal/hal-linux", "patch-unknown-state" ]

[dependencies]
radio = "0.9.1"
embedded-hal = "1.0.0-alpha.5"

driver-pal = { version = "0.8.0-alpha.5", default_features = false }
driver-cp2130 = { version = "1.0.0-alpha.4", optional = true }
linux-embedded-hal = { version = "0.4.0-alpha.1", optional = true }

bitflags = "1.0.4"
libc = "0.2.95"
log = "0.4.14"

pcap-file = { version = "1.1.1", optional = true }

crc16 = { version = "0.4.0", optional = true }
hex = { version = "0.4.2", optional = true }
thiserror = { version = "1.0.29", optional = true }

[dependencies.failure]
version = "0.1.7"
features = [ "derive" ]
default-features = false

[dependencies.humantime]
optional = true
version = "2.1.0"

[dependencies.serde]
features = ["derive"]
optional = true
version = "1.0.126"

[dependencies.tracing]
optional = true
version = "0.1.25"

[dependencies.tracing-subscriber]
optional = true
version = "0.2.16"

[dependencies.structopt]
optional = true
version = "0.3.21"

[dev-dependencies]
color-backtrace = "0.5.0"
env_logger = "0.8.3"
toml = "0.5.8"
serde = { version = "1.0.126", features = [ "derive" ] }
serde_derive = "1.0.0"

[dev-dependencies.driver-pal]
version = "0.8.0-alpha.4"
features = [ "mock", "hal" ]
default-features = false

[[bin]]
name = "sx128x-util"
path = "src/util/main.rs"
required-features = ["util"]

