[package]
authors = ["Ryan Kurte <ryankurte@gmail.com>"]
description = "Driver for the Semtec sx1280 2.4GHz RF IC"
repository = "https://github.com/rust-iot/rust-radio-sx128x"
license = "MPL-2.0"
name = "radio-sx128x"
version = "0.14.1-alpha.6"
edition = "2018"

[package.metadata]
pkg-url = "https://github.com/ryankurte/rust-radio-sx128x/releases/download/v{ version }/sx128x-util-{ target }.tgz"

[features]
poll-irq = []
tests = [ "driver-pal/mock" ]
util = ["structopt", "tracing", "tracing-subscriber", "humantime", "pcap-file", "crc16", "driver-pal/hal", "failure/std", "hex"]
default = [ "util", "serde", "driver-pal/hal-cp2130", "driver-pal/hal-linux" ]

[dependencies]
bitflags = "1.0.4"
libc = "0.2.70"
log = "0.4.6"
radio = "0.7.0"

pcap-file = { version = "1.1.1", optional = true }

linux-embedded-hal = { version = "0.4.0-alpha.0", optional = true }
driver-cp2130 = { version = "1.0.0-alpha.0", optional = true }
crc16 = { version = "0.4.0", optional = true }
hex = { version = "0.4.2", optional = true }

[dependencies.failure]
version = "0.1.7"
features = [ "derive" ]
default-features = false

[dependencies.embedded-hal]
version = "1.0.0-alpha.4"

[dependencies.driver-pal]
version = "0.8.0-alpha.0"
default-features = false

[dependencies.humantime]
optional = true
version = "2.0.1"

[dependencies.serde]
features = ["derive"]
optional = true
version = "1.0"

[dependencies.tracing]
optional = true
version = "0.1.14"

[dependencies.tracing-subscriber]
optional = true
version = "0.2.5"

[dependencies.structopt]
optional = true
version = "0.3.21"

[dev-dependencies]
color-backtrace = "0.5.0"

[[bin]]
name = "sx128x-util"
path = "src/util/main.rs"
required-features = ["util"]


[patch.crates-io]
# Patch for radio hal release
radio = { git = "https://github.com/ryankurte/rust-radio.git", branch = "master" }

# Fix for libusb-sys package discovery
libusb-sys = { git = "https://github.com/cmsd2/libusb-sys" } 

