[package]
authors = ["Ryan Kurte <ryankurte@gmail.com>"]
description = "Driver for the Semtec sx1280 2.4GHz RF IC"
repository = "https://github.com/ryankurte/rust-radio-sx128x"
license = "MPL-2.0"
name = "radio-sx128x"
version = "0.14.1-alpha.4"
edition = "2018"

[features]
poll-irq = []
tests = [ "driver-pal/mock" ]
util = ["structopt", "tracing", "tracing-subscriber", "humantime", "pcap-file", "crc16", "driver-pal/hal", "failure/std"]
default = [ "util", "serde", "driver-pal/hal-cp2130", "driver-pal/hal-linux" ]

[dependencies]
bitflags = "1.0.4"
libc = "0.2.70"
log = "0.4.6"
radio = "0.7.0"

pcap-file = { version = "1.1.1", optional = true }

linux-embedded-hal = { version = "0.3.0", optional = true }
driver-cp2130 = { version = "1.0.0-alpha", optional = true }
crc16 = { version = "0.4.0", optional = true }

[dependencies.failure]
version = "0.1.7"
features = [ "derive" ]
default-features = false

[dependencies.embedded-hal]
version = "=1.0.0-alpha.4"

[dependencies.driver-pal]
version = "0.7.0"
default-features = false
git = "https://github.com/ryankurte/rust-driver-pal.git"
branch = "master"

#[target.'cfg(unix)'.dependencies.driver-pal]
#version = "0.6.1
#features = [ "hal-linux" ]

[dependencies.humantime]
optional = true
version = "2.0.1"

[dependencies.serde]
features = ["derive"]
optional = true
version = "1.0"

[dependencies.tracing]
optional = true
version = "0.1.14"

[dependencies.tracing-subscriber]
optional = true
version = "0.2.5"

[dependencies.structopt]
optional = true
version = "0.3.11"

[dev-dependencies]
color-backtrace = "0.4.2"

[[bin]]
name = "sx128x-util"
path = "src/util/main.rs"
required-features = ["util"]


[patch.crates-io]
radio = { git = "https://github.com/ryankurte/rust-radio.git", branch = "master" }

# Patch for transactional SPI, remove on l-e-h alpha release
linux-embedded-hal = { git = "https://github.com/rust-embedded/linux-embedded-hal.git", branch = "master" }

# Fix for libusb-sys package discovery
libusb-sys = { git = "https://github.com/cmsd2/libusb-sys" } 

